body{
    background: #96a89c;
    margin: 0;
    padding: 0;
}
.container{
    min-height: 500px;
    background: #0c0c0c;
    width: 100%;
}
.container h1{
    justify-content: center;
    display: flex;
    font-size: 35px;
    background-color: #f3efef;

}
.form{
    display: flex;
    justify-content: center;
}
#search{
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #000;
}
 #search-btn{
    border: none;
    border-radius: 10px;
    color: #000;
    background-color: #faf2f2;
    cursor: pointer;
    height: 25px;
}
.random{
    display: flex;
    justify-content: center;
}
#random-btn{
    font-size: 16px;
    color: #fa0909;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#random-btn:hover{
background-color: #fa0909;
color: #f3eeee;
}
.results{
    display: flex;
    justify-content: center;
}
.meals img{
    margin: 10px auto;
   height: 430px; 
   width: 430px;
   display: grid;
   grid-template-rows: repeat(4 1fr);
   padding: 5px;
   border-radius: 35%;
   float: flex;
}
.meals h3{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.meals p{
   max-width:auto;
    display: flex;
    justify-content:center ;
    height: auto;
    font-size: 25px;
    padding-left: 50px;
    color: #f5f1f1;
}
ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    font: optional;
    font-size: 20px;
    color: #fff9f9;
}
#area{
    justify-content: center;
    display: flex;
}
h2{
    display: flex;
    justify-content: center;
    color: #400ff3;
}
#link{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #dd1717;
}
.meals{
    flex-wrap: wrap;
    max-width: 80%;
    padding-left: 10%;
    color: #f3efef;
}