body{
    background: #f5f8f6;
    margin: 0;
    padding: 0;
    /* background:url(https://images.pexels.com/photos/4551832/pexels-photo-4551832.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}
.container{
    background: #f1f5f2;
    width:auto;
    margin-left: auto;

    
}
.container h1{
    justify-content: center;
    display: flex;
    font-size: 2vw;
    background:#f7f4f4;
    color: #f03607;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.form{
    display: flex;
    justify-content: center;
    padding-left: 70px;
}
#search{
    font-size: 1.8vw;
    border: none;
    border-radius: 10px;
    color: #000;
}
 #search-btn{
    border: none;
    border-radius: 10px;
    color: #000;
    background-color: #faf2f2;
    cursor: pointer;
    height: 25px;
}
#search-btn:hover{
    color: #fffdfd;
    background: #f03607;
}
.random{
    display: flex;
    justify-content: center;
    
}
#random-btn{
    font-size: 1.3vw;
    color: #fa0909;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#random-btn:hover{
background-color: #fa0909;
color: #f3eeee;
}
.results{
    display: flex;
    justify-content: center;
}
.meals img{
    margin: 10px auto;
   height: 50vh; 
   width: 50vh;
   display: grid;
   grid-template-rows: repeat(4 1fr);
   padding: 5px;
   border-radius: 35%;
   padding-right: 25px;

}
.meals h3{
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#1f1d1d;


}
.meals p{
   max-width:auto;
    display: flex;
    justify-content:center ;
    height: auto;
    font-size:2vw;
    padding-left: 10%;
    color: #0f0f0f;
    padding-right: 6%;
}
ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    font: optional;
    font-size: 1.9vw;
    color: #0e0d0d;
}
#area{
    justify-content: center;
    display: flex;
}
h2{
    display: flex;
    justify-content: center;
    color: #400ff3;
    font-size: 2vw;
    text-decoration: underline;
}
#link{
    display: flex;
    justify-content: center;
    font-size: 1.9vw;
    color: #dd1717;
}
.meals{
    flex-wrap: wrap;
    max-width: auto;
    padding-left: 10%;
    color: #f3efef;
}
.copyright{
    font-size: 1.2vw;
    align-items: center;
    display: flex;
    justify-content: center;
}